@media screen and (max-width: 1440px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(65px, 1fr));
    grid-template-rows: repeat(3, 22vw);
    grid-gap: 20px;
  }
}

@media screen and (max-width: 360px) {
  .gallery {
    display: none;
  }
}
