.main-thanks__button-text {
  font-family: TT Firs Neue;
  font-size: 18px;
  font-weight: 500;
  line-height: 133.333%;
  color: #fff;
  margin: 0;
}
@media screen and (max-width: 460px) {
  .main-thanks__button-text {
    font-size: 16px;
  }
}
