.hedonismfest__slider {
  display: none;
}

@media screen and (max-width: 460px) {
  .hedonismfest__slider {
    display: flex;
    direction: inherit;
    justify-content: center;
  }

  .hedonismfest__slider button {
    margin: 0 12px 0 0;
  }

  /* .hedonismfest__slider button:first-child {
    background: #3b3748;
  } */

  .hedonismfest__slider button:last-child {
    margin: 0;
  }
}
