.main-thanks__link {
  padding: 12px 24px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 26px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 133.333%;
  margin: 0 auto 0 0;
}
@media screen and (max-width: 460px) {
  .main-thanks__link {
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 22px;
    line-height: 125%;
    padding: 12px 30.5px;
  }
}
