.hedonismfest {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 360px;
  background: #fff;
  color: #3b3748;
}

@media screen and (min-width: 1440px) {
  .hedonismfest {
    max-width: 1440px;
  }
}
