.main-thanks {
  font-family: TT_Firs_Neue, "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  min-height: 632px;
  background-color: #7100ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 460px) {
  .main-thanks {
    min-height: 560px;
    padding: 0;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}
