.events__title {
    margin: 80px 0 16px 40px;
    max-width: 840px;
    line-height: 52px;
    font-size: 48px;
    font-weight: 500;
    color: #3B3748;
}

@media screen and (max-width: 840px) {
    .events__title {
        line-height: 36px;
        font-size: 32px;
    }
}