.partners {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #EBE9ED;
}

@media screen and (min-width: 361px) {
  .partners {
    background-color: #FCFAF7;
  }
}
