.header__link_phone {
  margin: 0;
  margin-left: auto;
  padding: 12px 20px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3B3748;
  text-decoration: none;
}

@media screen and (min-width: 768.98px) {
  .header__link_phone {
    padding: 12px 24px;
  }
}
