.footer__link-icon {
  background-image: url(../../../images/link-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 361px) {
  .footer__link-icon {
    margin: 0 0 0 9px;
  }
}

@media screen and (min-width: 900px) {
  .footer__link-icon {
    width: 24px;
    height: 24px;
  }
}
