.host-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  min-width: 360px;
  background: #f40934;
  color: #ffffff;
}

@media screen and (min-width: 1440px) {
  .host-event {
    background: #ffd400;
    color: #3b3748;
  }
}
