.popup__tickets-input{
  margin: 0;
  padding: 0;
  width: 48px;
  height: 44px;
  border: 2px solid #7100FF;
  box-sizing: border-box;
  text-align: center;
}

.popup__tickets-input:focus{
  border: 2px solid #7100FF;
  outline: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
  -moz-appearance: number-input;
  }

@media screen and (min-width: 768.98px) {
  .popup__tickets-input {
    width: 96px;
    height: 48px;
  }
}

