.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  background-color: #FFD400;
}

@media screen and (min-width: 361px) {
  .footer {
    max-width: 1440px;
    flex-direction: row;
    background-color: #EBE9ED;
    align-items: flex-start;
    justify-content: stretch;
  }
}
