.main-thanks__title {
  font-size: 48px;
  line-height: 108.333%;
  letter-spacing: -0.01em;
  margin: 0 0 16px 0;
}
@media screen and (max-width: 460px) {
  .main-thanks__title {
    font-size: 32px;
    margin-bottom: 12px;
    line-height: 112.5%;
    letter-spacing: normal;
  }
}
