.popup__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #3B3748;
  margin: 0;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768.98px) {
  .popup__title {
    font-size: 48px;
    line-height: 52px;
  }
}
