.events__thanks-link {
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 26px;
  background-color: #7100ff;
  border: none;
  margin: 32px auto 80px 40px;
  color: #fcfaf7;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .events__thanks-link {
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 22px;
    line-height: 20px;
    margin: 32px auto 40px 20px;
  }
}
.events__thanks-link:hover {
  background-color: #5100b8;
}
.events__thanks-link:disabled {
  background-color: #ebe9ed;
  color: #96949e;
}
